.accordion-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  border-radius: 15px;
  border: 1px solid #bdbdbd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: auto;
}

h1.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  font-size: 40px;
  color: white;
}

.accordion-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-line;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  padding: 20px;
  border-radius: 15px;
  padding-left: 72px;
  cursor: pointer;
  transition: 0.25s background-color;
}

h1.accordion-tile {
  font-size: 24px;
  font-weight: 500;
}

p.accordion-content {
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  transition: 0.5s max-height, 0.5s margin;
}

p.accordion-content.active {
  max-height: 20rem;
  margin: 1rem 0;
}

.icon-container {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: 2;
  border-radius: 39px;
  transform: translateX(-3rem) translateY(0.25rem);
  padding: 0.5rem;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.icon-container.active {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stroke-one,
.stroke-two {
  content: "";
  position: relative;
  z-index: 1;
  transition: 0.5s all;
}

.stroke-one {
  width: 3px;
  height: 12px;
  background-color: white;
  transform: translateX(calc(12px / 2 - 1.5px)) rotate(0deg);
}

.stroke-one.active {
  transform: translateX(calc(12px / 2 - 1.5px)) rotate(90deg);
}

.stroke-two {
  height: 3px;
  width: 12px;
  background-color: white;
  transform: translateY(calc(-12px / 2 - 1.5px));
}